!!!
%html
  %head
    %title=content_for :browser_title
    =stylesheet_link_tag "chunks/reset", "chunks/logo", "chunks/admin"
  
  %body
    #header
      =render :partial => "layouts/chunks/header"
      
    #content
      %h2=content_for :page_title
      =yield
      
    #footer
      =render :partial => "layouts/chunks/footer"