.section.chunk{"data-title" => chunk.class.title } 
  .controls
    =render partial: "chunks/admin/chunks/controls", locals: {chunk: chunk}

  -if chunk.errors.empty?
    %h4=chunk.class.title
  -else
    =validation_errors(chunk, "#{chunk.class.title} is not valid")

  .form  
    =f.fields_for :chunks, chunk do |chunks_fields|
      =chunks_fields.hidden_field :type
      =render partial: "chunks/admin/chunks/#{chunk.class.partial_name}", locals: {f: chunks_fields}