.section.chunk{class: chunk.class.partial_name, "data-title" => chunk.class.title, "data-is-shared" => chunk.shared?.to_s} 
  .controls
    =render partial: "chunks/admin/chunks/controls", locals: {chunk: chunk}

  -if chunk.errors.empty?
    %h4=chunk.class.title
  -else
    =validation_errors(chunk, "#{chunk.class.title} is not valid")

  .form  
    =f.fields_for :chunks, chunk, child_index: override_index ||= nil do |chunks_fields|
      =chunks_fields.hidden_field :type
      =chunks_fields.hidden_field :container_key, class: "container_key"
      =chunks_fields.hidden_field :position, class: "position"
      =chunks_fields.check_box :_destroy, class: "meta_field _destroy", value: false
      =chunks_fields.check_box :_unshare, class: "meta_field _unshare", value: false      
      =render partial: "chunks/admin/chunks/#{chunk.class.partial_name}", locals: {f: chunks_fields, chunk: chunk}
      
  .clear