%h5 This chunk…
%ul
  %li=link_to "Show help", "#help", class: "show_help"
  
  %li.halved
    .half
      =link_to "Up", "#moveHigher", class: "move_up"
    .half
      =link_to "Down", "#moveLower", class: "move_down"
      
  %li=link_to "Delete", "#delete", class: "delete"
  
  -if chunk.previewable?
    %li=link_to "Preview", preview_chunks_admin_chunks_path, class: "show_preview"