.field
  =f.label :title
  =f.text_field :title
  
.field
  =f.label :accordion
  =f.check_box :accordion
  
.field
  =f.label :css_class
  =f.text_field :css_class
  
    
.field.editor
  =f.label :content
  =f.text_area :content, rows: 12