$background: #EEE;
$text: #333;
$title: #555;
$link: #618;
$highlight: #92B;

body {
  background: $background;
  color: $text;
  font-family: Arial;
  font-size: 0.8em;
}

#header, #content, #footer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
}

#header {
  padding-top: 15px;
  height: 56px;
  a {
    text-decoration: none;
  }
  .nav {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-family: courier;
    font-size: 1.4em;
    font-weight: bold;
    li {
      margin-left: 2em;
      float: left;
    }
  }
}

#footer {
  padding-top: 15px;
  font-family: courier;
  text-align: center;
}

#content {

}

.pagination {
  text-align: center;
  padding-top: 20px;
}

a, a:visited {
  color: $link;
}
a:hover {
  color: $highlight;
}

h2, h3, h4 {
  color: $title;  
  font-family: courier;
  font-weight: bold;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.2em;
}