@import "chunks/common";

form {
  input[type=text], textarea {
    padding: $spacing*0.5;
    border: solid 1px $border;
  }
  input[type=submit] {
    @include buttonify;
  }
  .fixed {
    color: $shadow;
    padding: 3px;
  }
  label:after {
    content: ":"
  }
  .field.req label:after {
    content: "*"
  }  
  .field * {
    vertical-align: middle;
  }
  .field {
    margin-bottom: $spacing*0.5;
    min-height: 1.3em;
    label {
      display: inline-block;
      width: 10%;
      text-align: right;
      padding-right: $spacing*0.5;
    }
    input[type=text], select, textarea {
      width: 88%;
    }
  }
}

.section {
  @include rounded_corners(3px);
  border: solid 1px $border;
  padding: $spacing $spacing 0;
  margin-bottom: $spacing;
  background: $section;
}

.section.main {
  background: $lighter_background;
}
.section.container {
  margin-top: $spacing*3;
}
.section.chunk {
  background: $lighter_background;
  padding: $spacing*0.5 0 0;
  margin-bottom: $spacing*0.5;
  h4 {
    margin-left: $spacing;
  }
}