@import "chunks/common";

form {
  input[type=text], textarea {
    padding: $spacing*0.5;
    border: solid 1px $border;
  }
  input[type=submit] {
    @include buttonify;
  }
  .fixed {
    color: $shadow;
    padding: 3px;
  }
  label:after {
    content: ":"
  }
  .field.req label:after {
    content: "*"
  }  
  .field * {
    vertical-align: middle;
  }
  .field {
    display: inline-block;
    width: 49%;
    margin-bottom: $spacing*0.5;
    min-height: 1.3em;
    label {
      display: inline-block;
      width: 20.5%;
      text-align: right;
      padding-right: $spacing*0.5;
    }
    input[type=text], select, textarea {
      width: 76%;
    }
  }
  .field.editor {
    width: 100%;
    label {
      width: 10%;
    }
    textarea {
      width: 87%;
      font-family: courier;
    }
  }
}

.section {
  @include rounded_corners(3px);
  border: solid 1px $border;
  padding: $spacing;
  margin-bottom: $spacing;
  background: $section;
}

.errors {
  @include rounded_corners(3px);
  border: solid 1px $error;
  padding: $spacing;
  margin-bottom: $spacing;
  color: $error;
  background: $error*4.9;
  h4 {
    color: $error;
  }
  @include bulleted_lists
}

form { 
  .field_with_errors {
    display: inline;
    label {
      color: $error;
    }
    input[type=text], select, textarea {
      border-color: $error;
    }
  }
}
