@import "chunks/common";

.section.page {
  background-color: $lighter_section;
}
.section.container {
  margin-top: $spacing*3;
}
.section.chunk {
  background-color: $lighter_section;
  margin-bottom: $spacing/2;
  .form, .errors {
    width: 87%;
  }
  .controls {
    float: right;
    width: 10%;
    a {
      @include linkify;
      display: block;
      margin-bottom: $spacing/2;
    }
    a.delete {
      @include iconify(delete);
    }
  }
}