@import "chunks/common";

.section.main {
  background: $lighter_background;
}
.section.container {
  margin-top: $spacing*3;
}
.section.chunk {
  background: $lighter_background;
  padding: $spacing*0.5 0 0;
  margin-bottom: $spacing*0.5;
  h4 {
    margin-left: $spacing;
  }
}