@import "chunks/common";

.section.page {
  background-color: $lighter_section;
}
.section.container {
  margin-top: $spacing*3;
}
.section.chunk {
  background-color: $lighter_section;
  margin-bottom: $spacing/2;
}