#page_edit 
  =form_for @page, url: chunks_admin_resource_path(@page) do |f|
    .section.page
      =validation_errors(@page)
        
      .field.req
        =f.label :title, "Page title"
        =f.text_field :title
        
      .field
        =f.label :template
        -if @available_templates
          =f.select :template, @available_templates.map(&:option_for_select)
        -else
          %span.fixed=@page.template.title
          %span.subtle (cannot be changed for this page)
          =hidden_field_tag :template, @page.template
      
      .field
        =f.label :public
        =f.check_box :public
    
    =render partial: "containers", locals: {f: f} unless @page.new_record?
    
    .buttons
      =f.submit