=form_for @page, :url => admin_resource_path(@page) do |f|
  .field
    =f.label :template
    -if @page.new_record?
      =f.select :template, @templates.map(&:option_for_select)
    -else
      %span.fixed=@page.template.title
  
  .field
    =f.label :title
    =f.text_field :title
    
  .buttons
    =f.submit