
-if !@page.new_record? && @page.containers.length > 1
  .container_links
    Jump to
    -@page.containers.each do |container|
      =link_to container.title, "#container_#{container.key}"
  
.buttons
  =cancel_link(admin_pages_path)
  =f.submit disable_with: "Saving…"