@import "chunks/common";
@import "chunks/theme";

.ui-dialog {
  @include recessed($floater);
  border: solid 1px $border;
  @include rounded_corners($spacing/2);
  opacity: 0.9;
  @include shadow(10px, $shadow);
  .ui-dialog-titlebar {
    padding: $spacing;
    cursor: move;
    .ui-dialog-title {
      color: $title;
      font-weight: bold;
    }
    .ui-dialog-titlebar-close {
      float: right;
      @include replace_with_icon(close);
    }
  }
  .ui-dialog-content {
    padding: $spacing;
    overflow: hidden;
    color: $subtle;
  }
  .ui-resizable-se {
    @include replace_with_icon(resize);
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    opacity: 0.5;
  }
  
  iframe {
    width: 100%;
    height: 300px;
  }
}


.popup_menu {
  display: inline-block;  
  position: relative;  
  ul {
    border: solid 1px $border;
    @include recessed($floater);
    @include shadow;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    li {
      white-space: nowrap;
      a {
        display: block;
        padding: $spacing;
        text-decoration: none;
      }
      &:hover {
        background: $background;
      }
    }
  }
}