@import "chunks/common";
@import "chunks/theme";

body {
  background: $background;
  background-image: $background-image;
  background-repeat: repeat;
  color: $text;
  font-family: $font-family;
  font-size: $font-size;
  min-width: 1200px;
}

#header, #content, #footer {
  margin-left: 2%;
  margin-right: 2%;
  clear: both;
  position: relative;
}

#header {
  padding-top: 15px;
  height: 56px;
  a {
    text-decoration: none;
    color: $title;
    &:hover {
      color: $title*1.2;
    }
  }
  .nav {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 1.4em;
    font-weight: bold;
    li {
      margin-left: 2em;
      float: left;
    }
  }
}

#footer {
  padding: 15px 0;
  text-align: center;
}

#content {

}

.pagination {
  text-align: center;
  padding-top: 20px;
}

a, a:visited {
  color: $link;
  &.cancel {
    color: $subtle;
  }
}
a:hover {
  color: $highlight;
}

h2, h3, h4 {
  color: $title;  
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  margin-bottom: $spacing;
}
h3 {
  font-size: 1.2em;
  margin-bottom: $spacing/2;
}
h4 {
  margin-bottom: $spacing/2;
}
h5 {
  margin-bottom: $spacing/2;
}

.subtle {
  display: inline;
  color: $subtle;
  font-size: 0.8em;
  font-family: Arial;
}

.section {
  @include rounded_corners(3px);
  border: solid 1px $border;
  padding: $spacing;
  margin-bottom: $spacing;
  background-color: $section;
}