@import "chunks/common";
@import "chunks/theme";

.errors {
  @include rounded_corners(3px);
  border: solid 1px $error;
  padding: $spacing;
  margin-bottom: $spacing;
  color: $error;
  h4 {
    color: $error;
  }
  @include bulleted_lists;
  @include recessed($error_background);
}

.meta_field {
  display: none;
}

form {
  select {
    border: solid 1px darken($border, 15%);    
  }
  input[type=text], textarea {
    padding: $spacing/2;
    border: solid 1px $border;
    @include recessed(#FFF);
  }
  input[type=submit] {
    @include buttonify;
  }
  .fixed {
    display: inline-block;
    color: $subtle;
  }
  label:after {
    content: ":"
  }
  .field.req label:after {
    content: "*"
  }  
  .field * {
    vertical-align: middle;
  }
  .field {
    display: inline-block;
    width: 49%;
    margin-bottom: $spacing/2;
    label {
      display: inline-block;
      width: 20.5%;
      height: 1.8em;
      line-height: 1.8em;
      text-align: right;
      padding-right: $spacing/2;
    }
    input[type=text], select, textarea {
      width: 74.9%;
      @include rounded_corners(3px);
    }
  }
  .field.editor {
    width: 100%;
    label {
      width: 10%;
    }
    textarea {
      width: 87%;
      font-family: "Courier New", Courier;
      font-size: 10pt;
    }
  }
  .field_with_errors {
    display: inline;
    label {
      color: $error;
    }
    input[type=text], select, textarea {
      border-color: $error;
    }
  }
  .form_controls {
    @include floater;
  }
  .disabled {
    input[type=text], select, textarea {
      background: none;
    }
  }
}

.ui-dialog form {
  .field {
    width: 100%;
  }
  .buttons {
    text-align: right;
    margin-top: $spacing;
    a {
      margin-right: $spacing;
    }
  }
}