@import "chunks/common";
@import "chunks/theme";

.section.page {
  @include gradient($inner_section, 50%);
}

.section.container {
  margin-top: $spacing*3;
  @include gradient($section);
}

.section.container .controls {
  .add_chunk {
    @include linkify;
    a {
      @include iconify(chunk);
    }
  }
  ul.available_chunks li a {
    @include iconify(chunk);
  }
}

.section.container .empty_container {
  text-align: center;
  ul.available_chunks {
    margin: $spacing*2;
    li {
      @include linkify;
      margin-top: $spacing/2;
      a {
        @include iconify(chunk);
      }
    }
  }
}

.section.chunk {
  @include gradient($inner_section);
  margin-bottom: $spacing/2;
  .form, .errors {
    width: 87%;
  }
  h4 {
    display: inline-block;
  }
  .help {
    display: none;
  }
}

.section.chunk .controls {
  float: right;
  width: 10%;
  li {
    @include linkify;
    display: inline-block;
    width: 100%;
    margin-bottom: $spacing/2;
  }
  a {
    display: block;
  }
  li.halved {
    border: none;
    background: none;
    .half {
      @include linkify;
      display: inline-block;
      width: 48%;
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
      .move_up {
        @include iconify(up);
      }
      .move_down {
        @include iconify(down);
      }
    }
  }
  .show_help {
    @include iconify(help);
  }
  .delete {
    @include iconify(delete);
  }
  .show_preview {
    @include iconify(preview);
  }
}

.form_controls {
  div {
    display: inline-block;
  }
  .buttons {
    margin-left: $spacing*6; 
    a {
      margin-right: $spacing/2;
    }
  }
  .container_links {
    a {
      margin-left: $spacing/2;
    }
  }
}