$background-image: none;
@import "chunks/theme";

$spacing: 8px;
$font-size: .8em;
$shadow: darken($background, 30%);
$highlight: lighten($link, 15%);
$border: rgba(120,120,120,.3);
$error_background: rgba(255,200,200,.05);
$section: rgba(220,220,220,.1);
$inner_section: rgba(255,255,255,.1);
$floater: lighten($background, 10%);

@mixin rounded_corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($size: $spacing, $colour: $shadow) {
  -moz-box-shadow: 0 0 $size 0 $colour;
  -webkit-box-shadow: 0 0 $size 0 $colour;
  box-shadow: 0 0 $size 0 $colour;
}

@mixin recessed($colour) {
  background: $colour;
  background: -webkit-gradient(linear, left bottom, left top, from($colour), to(darken($colour, 4%)));
  background: -moz-linear-gradient(bottom, $colour,  darken($colour, 4%));  
}

@mixin gradient($colour, $dim: 20%) {
  background: $colour;
  background: -webkit-gradient(linear, left top, left bottom, from($colour), to(darken($colour, $dim)));
  background: -moz-linear-gradient(top, $colour,  darken($colour, $dim));
}


@mixin bulleted_lists {
  ul {
    padding-left: 1.5em;
    li {
      list-style: square;
      padding: $spacing/2 0;
    }
  }
}

@mixin buttonify {
  @include linkify;
  @include gradient($button);
  color: #FFF;
  border: solid 1px darken($button, 15%);
  padding: $spacing;
  cursor: pointer;
  &:hover {
    background: $button;
  }
  &:active {
    background: lighten($button, 5%);
  }
}

@mixin linkify {
  display: inline-block;
  @include rounded_corners(3px);  
  @include gradient(rgba(255,255,255,.8));
  border: solid 1px $border;
  cursor: pointer;
  a {
    display: block;
    padding: $spacing/2;
    text-decoration: none;
  }
  &:hover {
    background-color: rgba(255,255,255,.9);
  }
  &:active {
    background-color: rgba(255,255,255,1);
  }
}

@mixin iconify($icon) {
  height: 16px;
  line-height: 16px;
  padding-left: $spacing + 15;
  background-image: url("/assets/chunks/" + $icon + ".png");
  background-repeat: no-repeat;
  background-position: $spacing/2 center;
}

@mixin replace_with_icon($icon) {
  @include iconify($icon);
  background-position: left center;
  display: inline-block;
  overflow: hidden;
  width: 0;
  padding-left: 16px;
  height: 16px;
}

@mixin floater {
  position: fixed;
  bottom: 0;
  right: 1%;
  z-index: 101;
  @include gradient($floater);
  padding: $spacing/2 $spacing/2 $spacing/2 $spacing;
  @include rounded_corners($spacing/2);
  border: solid 1px $border;
  opacity: 0.8;
}