/* 
  Default metallic silver theme. 
  Override by creating app/stylesheets/chunks/_theme.scss in your own app. 
*/
$background: #EEE;
$background-image: url("/assets/chunks/background_texture.jpg");
$text: #000;
$title: #555;
$link: #618;
$subtle: #777;
$button: #618;
$error: #C33;
$font-family: Courier New, Courier;
$font-size: .8em;