@import "chunks/common";
@import "chunks/theme";

.logo {
  opacity: 0.8;
  float: left;
  h1 {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  .r {
    clear: both;
  }
  .p {
    @include gradient($link*1.2);
    float: left;
    border: solid 1px $link;
  }
  .x {
    float: left;
  }
  .s {
    border: none;
    float: left;
  }
}

a:hover .logo {
  .p {
    @include gradient($link*1.5);
  }
}


.logo.small {
  width: 225px;
  h2 {
    font-size: 8pt;
  }
  .p {
    @include rounded_corners(1px);
    width: 8px;
    height: 8px;
  }
  .x {
    width: 10px;
    height: 10px;
  }
  .p, .x {
    margin: 0 1px 1px 0;
  }
  .s {
    width: 5px;
    height: 10px;
  }
}

.logo.medium {
  width: 450px;
  h2 {
    font-size: 19pt;
  }
  .p {
    @include rounded_corners(3px);
    border-width: 2px;
    width: 16px;
    height: 16px;
  }
  .x {
    width: 20px;
    height: 20px;
  }
  .p, .x {
    margin: 1px;
  }
  .s {
    width: 10px;
    height: 20px;
  }
}

.logo.large {
  width: 800px;
  h2 {
    font-size: 34pt;
  }
  .p {
    @include rounded_corners(5px);
    border-width: 3px;
    width: 29px;
    height: 29px;
  }
  .x {
    width: 35px;
    height: 35px;
  }
  .p, .x {
    margin: 2px;
  }
  .s {
    width: 18px;
    height: 35px;
  }
}